---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/MiguelSilva1997/repos?access_token=f13f3f7f48f817f719aa2092f94aecb2c67db3ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1512672103'
      Etag:
      - W/"9d67650fe5a39a898210485ba35720f1"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 1adf5dfd9fecc15bdd7b
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/24836529/repos?access_token=f13f3f7f48f817f719aa2092f94aecb2c67db3ef&page=2>;
        rel="next", <https://api.github.com/user/24836529/repos?access_token=f13f3f7f48f817f719aa2092f94aecb2c67db3ef&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":105596854,"name":"activerecord_exploration","full_name":"MiguelSilva1997/activerecord_exploration","owner":{"login":"MiguelSilva1997","id":24836529,"avatar_url":"https://avatars2.githubusercontent.com/u/24836529?v=4","gravatar_id":"","url":"https://api.github.com/users/MiguelSilva1997","html_url":"https://github.com/MiguelSilva1997","followers_url":"https://api.github.com/users/MiguelSilva1997/followers","following_url":"https://api.github.com/users/MiguelSilva1997/following{/other_user}","gists_url":"https://api.github.com/users/MiguelSilva1997/gists{/gist_id}","starred_url":"https://api.github.com/users/MiguelSilva1997/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/MiguelSilva1997/subscriptions","organizations_url":"https://api.github.com/users/MiguelSilva1997/orgs","repos_url":"https://api.github.com/users/MiguelSilva1997/repos","events_url":"https://api.github.com/users/MiguelSilva1997/events{/privacy}","received_events_url":"https://api.github.com/users/MiguelSilva1997/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/MiguelSilva1997/activerecord_exploration","description":null,"fork":true,"url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration","forks_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/forks","keys_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/keys{/key_id}","collaborators_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/teams","hooks_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/hooks","issue_events_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/issues/events{/number}","events_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/events","assignees_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/assignees{/user}","branches_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/branches{/branch}","tags_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/tags","blobs_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/git/refs{/sha}","trees_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/git/trees{/sha}","statuses_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/statuses/{sha}","languages_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/languages","stargazers_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/stargazers","contributors_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/contributors","subscribers_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/subscribers","subscription_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/subscription","commits_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/commits{/sha}","git_commits_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/git/commits{/sha}","comments_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/comments{/number}","issue_comment_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/issues/comments{/number}","contents_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/contents/{+path}","compare_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/compare/{base}...{head}","merges_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/merges","archive_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/downloads","issues_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/issues{/number}","pulls_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/pulls{/number}","milestones_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/milestones{/number}","notifications_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/labels{/name}","releases_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/releases{/id}","deployments_url":"https://api.github.com/repos/MiguelSilva1997/activerecord_exploration/deployments","created_at":"2017-10-02T23:49:06Z","updated_at":"2017-10-02T23:49:08Z","pushed_at":"2017-06-30T15:55:56Z","git_url":"git://github.com/MiguelSilva1997/activerecord_exploration.git","ssh_url":"git@github.com:MiguelSilva1997/activerecord_exploration.git","clone_url":"https://github.com/MiguelSilva1997/activerecord_exploration.git","svn_url":"https://github.com/MiguelSilva1997/activerecord_exploration","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":100527172,"name":"bad_connection","full_name":"MiguelSilva1997/bad_connection","owner":{"login":"MiguelSilva1997","id":24836529,"avatar_url":"https://avatars2.githubusercontent.com/u/24836529?v=4","gravatar_id":"","url":"https://api.github.com/users/MiguelSilva1997","html_url":"https://github.com/MiguelSilva1997","followers_url":"https://api.github.com/users/MiguelSilva1997/followers","following_url":"https://api.github.com/users/MiguelSilva1997/following{/other_user}","gists_url":"[...]
